div {

  display: flex;
  justify-content: center;

  ul {
    display: flex;
    gap: 5px;
  }

  ul li {
    border-radius: 5px;
    color: #949393;
    border: 1px solid #ccc;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
  }

  ul li.active {
    color: #D94D27;
    border: 1px solid #D94D27;
    font-weight: bold;
    cursor: not-allowed;
  }

  ul li.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

}
