<div>
  <ul>
    <li [ngClass]="{ disabled: pageable.first }" (click)="!pageable.first && previousPage()">
      <i class="fa-solid fa-caret-left"></i>
    </li>

    @for (page of pages; track $index) {
      <li
        [ngClass]="{ active: page.active, disabled: page.disabled}"
        (click)="!page.active && !page.disabled && defineCurrentPage(page.value)">
        {{ page.value }}
      </li>
    }

    <li [ngClass]="{ disabled: pageable.last }" (click)="!pageable.last && nextPage()">
      <i class="fa-solid fa-caret-right"></i>
    </li>
  </ul>
</div>
