<main>
  <div>
    <span class="close">
      <i class="fa-solid fa-close" (click)="onClickCancel()"></i>
    </span>

    @if (params.title) {
      <span class="title">{{ params.title }}</span>
    }

    @if (params.content) {
      <span class="content">{{ params.content }}</span>
    }

    <span class="buttons">
      @if (params.cancelButtonParams) {
        <app-generic-button [params]="params.cancelButtonParams" (onClick)="onClickCancel()"></app-generic-button>
      }

      @if (params.confirmButtonParams) {
        <app-generic-button [params]="params.confirmButtonParams" (onClick)="onClickConfirm()"></app-generic-button>
      }
    </span>
  </div>
</main>
