main {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  div {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: white;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
  }

  .content {
    padding: 0 10px;
  }

  .close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    i {
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
}
