.header {
  display: grid;
  padding: 10px;
  gap: 20px;
  grid-template-columns: auto 1fr auto;

  .filters {
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .input {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;

    label {
      border-radius: 10px 0 0 10px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: center;
      height: 38px;
      border: 1px solid #ccc;
      border-right: 0;
      color: #636262;
      cursor: pointer;
    }

    input {
      outline: none;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 0;
      border-right: 0;
      height: 36px;
      width: 100%
    }

    button {
      background-color: #636262;
      border-radius: 0 10px 10px 0;
      padding: 0 40px;
      border: 1px solid #ccc;
      border-left: 0;
      height: 40px;
      color: white;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    button:hover {
      background-color: #D94D27;
    }
  }

}

section {

  margin: 0;

  header {

    ul {
      display: grid;
      background-color: #636262;
      color: white;
      padding: 5px 5px;
      margin: 0;
      border-radius: 10px;
    }

    ul li {
      height: calc(40px - 10px);
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #fff;
    }

    ul li:last-child {
      border-right: 0;
    }

  }

  main {

    display: flex;
    flex-direction: column;
    margin: 0 5px;
    padding: 0;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      margin: 1px;
    }

    ul li {
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

.actions {
  min-width: 200px;
}

footer {

  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}
