.header {
  display: grid;
  padding: 10px;
  gap: 20px;
  grid-template-columns: 1fr 7fr 1fr;

  input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .filters {
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .filters-field {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #015EAF;
      border: 1px solid #015EAF;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.5s ease-out;
    }

    .filters-field:hover {
      background-color: #015EAF;
      color: white;
      border: 1px solid white;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }

    .filters-field:hover .dropdown {
      opacity: 1;
      visibility: visible;
    }

    .dropdown ul {
      margin-top: 5px;
      background-color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .dropdown ul li {
      border-radius: 10px;
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      list-style: none;
      background-color: white;
      color: #015EAF;
    }

    .dropdown ul li:hover {
      background-color: #015EAF;
      color: white;
    }
  }

}

section {

  margin: 0;

  header {

    ul {
      display: grid;
      background-color: #636262;
      color: white;
      padding: 5px 5px;
      margin: 0;
      border-radius: 10px;
    }

    ul li {
      height: calc(40px - 10px);
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #fff;
    }

    ul li:last-child {
      border-right: 0;
    }

  }

  main {

    display: flex;
    flex-direction: column;
    margin: 0 5px;
    padding: 0;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      margin: 1px;
    }

    ul li {
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

.actions {
  min-width: 200px;
}

footer {

  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}
