<div class="header">
  <app-generic-button
    [params]="{
      title: { name: 'Novo' },
      icon: { name: 'fa-solid fa-plus', size: '14' }
    }"
    (onClick)="goToNew()"
  ></app-generic-button>

  <input placeholder="Filtro"/>

</div>

<section>
    <header>
      <ul>
        <li>Teste</li>
        <li>Teste</li>
        <li>Teste</li>
        <li>Teste</li>
        <li>Ações</li>
      </ul>
    </header>

    @if (responseData.empty) {
      <div style="text-align: center; padding: 10px;">
        <p>Não possui dados.</p>
      </div>
    } @else {

      <main>
        @for (item of responseData.content; track $index) {
          <ul>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
            <li>
              <app-actions-list
                [nameRoute]="'teste'"
                [id]="1"
              ></app-actions-list>
            </li>
          </ul>
        }
      </main>

      <footer>
        <div>
            <app-page-size
              [quantityPages]="quantityPages"
              (onChange)="detectChangePageSize($event)"
            ></app-page-size>
        </div>

        <div class="center">
          <app-paginator
            [pageable]="responseData"
            (onChange)="detectChangePage($event)"
          ></app-paginator>
        </div>
      </footer>

    }

</section>
