<section>
    <header>
      <ul>
        <li>Teste</li>
        <li>Teste</li>
        <li>Teste</li>
        <li>Teste</li>
      </ul>
    </header>

    @if (responseData.empty) {
      <div style="text-align: center; padding: 10px;">
        <p>Não possui dados.</p>
      </div>
    } @else {

      <main>
        @for (item of responseData.content; track $index) {
          <ul>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
            <li>{{ item }}</li>
          </ul>
        }
      </main>

      <app-paginator
        [pageable]="responseData"
      ></app-paginator>

    }

</section>
