<div class="header">
  <app-generic-button
    [params]="{
      title: { name: 'Novo' },
      icon: { name: 'fa-solid fa-plus', size: '14' }
    }"
    (onClick)="goToNew()"
  ></app-generic-button>

  <input placeholder="Filtro"/>

  <div class="filters">

    <app-dropdown-menu-list
      [items]="params.filters!"
      (selectedChange)="changeTypeFilter($event)"
      [params]="{ width: '80px', fontSize: '14px' }"
    ></app-dropdown-menu-list>

    <app-dropdown-type-filter
      [type]="typeFilter"
      [params]="{ itemSize: '14px' }"
      (selectedChange)="changeOperationFilter($event)"
    ></app-dropdown-type-filter>
  </div>

</div>

<section>
    <header>

      <ul [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }">
        @for (column of params.columns; track $index) {
          <li>{{ column.title }}</li>
        }

        @if (showActions) {
          <li class="actions">Ações</li>
        }

      </ul>
    </header>

    @if (responseData.empty) {
      <div style="text-align: center; padding: 10px;">
        <p>Não possui dados.</p>
      </div>
    } @else {

      <main>
        @for (item of responseData.content; track $index) {
          <ul [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }">
            @for (column of params.columns; track $index) {
              <li>{{ item[column.field!] }}</li>
            }

            @if (showActions) {
              <li class="actions">
                <app-actions-list
                  [nameRoute]="'teste'"
                  [id]="item['id']"
                ></app-actions-list>
              </li>
            }
          </ul>
        }
      </main>

      <footer>
        <div>
            <app-page-size
              [quantityPages]="quantityPages"
              (onChange)="detectChangePageSize($event)"
            ></app-page-size>
        </div>

        <div class="center">
          <app-paginator
            [pageable]="responseData"
            (onChange)="detectChangePage($event)"
          ></app-paginator>
        </div>
      </footer>

    }

</section>
