li {
  height: calc(40px - 10px);
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;

  span {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;

    p {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 12px;
      position: absolute;
      right: 10px;
    }
  }


}
