<div class="autocomplete-wrapper" [style.width]="size + 'vh'">

@if (isMultiple && selectedItems.length > 0) {
    <div class="selected-items-container">
      @for (item of selectedItems; track $index) {
        <div class="chip">
          {{ getDisplayMultipleText(item) }}
          @if (!isDisabled) {
            <button type="button"
                    class="chip-remove"
                    (click)="removeItem(item, $event)">&times;</button>
          }
        </div>
      }
    </div>
  }

  <div class="top-label">{{ topLabelInput }}</div>

  <div class="autocomplete-input-container">
    <input
      type="text"
      [placeholder]="placeholder"
      [formControl]="searchControl"
      [disabled]="isDisabled"
      autocomplete="off"
      (focus)="focusIn()"
      (input)="focusIn()"
      (blur)="focusOut()"
      aria-autocomplete="list"
    />

    <i class="fa-solid fa-magnifying-glass search-icon "></i>
    @if (selectedItems.length > 0 && !isMultiple) {
      <button type="button"
              class="clear-button"
              (click)="clearSelection()"
              aria-label="Limpar seleção">&times;</button>
    }
  </div>


  @if (focused()) {
    <ul class="autocomplete-dropdown" role="listbox">
      @if (isLoading()) {
        <li class="loading-state">Buscando...</li>
      }

      @if (!(isLoading())) {
        @for (option of (options$ | async) ?? []; track $index) {
          <li class="autocomplete-option"
              role="option"
              (mousedown)="onOptionSelected(option)">
            {{ getDisplayText(option) }}
          </li>
        } @empty {
          <li class="no-results">Nenhum resultado encontrado.</li>
        }
      }
    </ul>
  }
</div>
