<app-autocomplete [search]="searchUsers.bind(this)"
                  [displayField]="formatUserForDisplay.bind(this)"
                  [isDisabled]="isDisabled"
                  placeholder="Buscar usuário"
                  [(ngModel)]="singleUser"
                  (selectionChange)="onUserSelection($event)"
                  [displayMultipleField]="formatUserForDisplay.bind(this)"
                  [topLabelInput]="'Selecione alguma coisa'"
                  [size]="30"
>

</app-autocomplete>

<app-autocomplete [search]="searchUsers.bind(this)"
                  [displayField]="formatUserForDisplay.bind(this)"
                  [isMultiple]="true"
                  [isDisabled]="isDisabled"
                  placeholder="Adicionar usuários"
                  [(ngModel)]="multipleUsers"
                  (selectionChange)="onUserSelection($event)"
                  [displayMultipleField]="formatUserForDisplay.bind(this)"
                  [size]="70"
>


</app-autocomplete>
