<br><br><br><br>


<app-autocomplete [searchService]="searchUsers.bind(this)"
                  [displayField]="'email'"
                  [isDisabled]="isDisabled"
                  placeholder="Buscar usuário"
                  [(ngModel)]="singleUser"
                  (selectionChange)="onUserSelection($event)">

</app-autocomplete>
<br><br><br><br>

<app-autocomplete [searchService]="searchUsers.bind(this)"
                  [displayField]="'name'"
                  [isMultiple]="true"
                  [isDisabled]="isDisabled"
                  placeholder="Adicionar usuários"
                  [(ngModel)]="multipleUsers"
                  (selectionChange)="onUserSelection($event)">


</app-autocomplete>

